# Fichero de ejemplo de variables de entorno para el Docker Compose.
# Copiar este fichero a .env y ajustar los valores según el entorno local.

# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=korrijodb
